Click==7.0
cs50==2.4.4
cycler==0.10.0
Flask==1.0.2
Flask-Session==0.3.1
itsdangerous==1.1.0
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.1.0
matplotlib==3.0.2
numpy==1.15.4
psycopg2-binary==2.7.6.1
pyparsing==2.3.0
python-dateutil==2.7.5
six==1.11.0
SQLAlchemy==1.2.14
sqlparse==0.2.4
termcolor==1.1.0
virtualenv==16.1.0
virtualenvwrapper-win==1.2.5
waitress==1.1.0
Werkzeug==0.14.1
