nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
.crimson
{
    background-color: #990000;
}

.error-image
{
  align-content: center;

}

.centered
{
    text-align: center;
}

body
{
  background-color: #ffcfcf;
}
