nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
.crimson
{
    background-color: #990000;
}

.nav-item
{
  color: #FFFFFF;
}

.error-image
{
  align-content: center;

}

body
{
  background-color: #ffcfcf;
}
