<!DOCTYPE html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

  <link href="/static/styles.css" rel="stylesheet">
  <link rel="icon" href="static/Icon2.ico">

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  <title>Crimson Campaigns: {% block title %}{% endblock %}</title>
</head>
<body>
  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-md navbar-dark crimson">
    <div>
      <img src="static/ccicon.jpg" height="100" width="166">
    </div>
    {% if session.user_id %}
    <div>
      <ul class="navbar-nav mr-auto mt-2">
        <li class={% block home %}{% endblock %}><a class="nav-link" href="/">Home</a></li>
        <li class={% block input %}{% endblock %}><a class="nav-link" href="/input">Data Input</a></li>
        <li class={% block search %}{% endblock %}><a class="nav-link" href="/search">Data Search</a></li>
        <li class={% block view %}{% endblock %}><a class="nav-link" href="/view">Data Search</a></li>

        <!-- Customizes UI Based on Account Type -->
        {% if session.campaign_type == "registration" %}
        <li><img src="static/HVC-logo.png" height="100"></li>
        {% elif session.campaign_type == "exec" %}
        <li><img src="static/UC_logo.png" height="100"></li>
        {% elif session.campaign_type == "house" %}
          {% if session.house == "adams" %}
            <li><img src="static/houses/adams.png" height="100"></li>
          {% elif session.house == "cabot" %}
            <li><img src="static/houses/cabot.png" height="100"></li>
          {% elif session.house == "currier" %}
            <li><img src="static/houses/currier.png" height="100"></li>
          {% elif session.house == "dudley" %}
            <li><img src="static/houses/dudley.png" height="100"></li>
          {% elif session.house == "dunster" %}
            <li><img src="static/houses/dunster.png" height="100"></li>
          {% elif session.house == "eliot" %}
            <li><img src="static/houses/eliot.png" height="100"></li>
          {% elif session.house == "kirkland" %}
            <li><img src="static/houses/kirlkand.png" height="100"></li>
          {% elif session.house == "leverett" %}
            <li><img src="static/houses/lev.png" height="100"></li>
          {% elif session.house == "pfoho" %}
            <li><img src="static/houses/pfoho.png" height="100"></li>
          {% elif session.house == "quincy" %}
            <li><img src="static/houses/quincy.png" height="100"></li>
          {% elif session.house == "winthrop" %}
            <li><img src="static/houses/winthrop.png" height="100"></li>
          {% endif %}
        {% endif %}

        <li><a class="nav-link" href="/logout">Log Out</a></li>
      </ul>
    </div>
    {% else %}
    <div>
      <ul class="navbar-nav ml-auto mt-2">
        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
        <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
      </ul>
    </div>
    {% endif %}
  </nav>
  <br>
  <!-- Jinja input for body tags of other pages -->
  {% block main %}{% endblock %}
</body>
