{% extends "layout.html" %}

{% block title %}Search{% endblock %}

{% block search %}"nav-item active"{% endblock %}

{% block main %}

<form action="/lookup" method="GET">
  <input autocomplete="off" autofocus placeholder="name" type="text">
  <input type="submit" value="Search">
</form>

<table class="table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>House/Dorm</th>
        <th>Entryway</th>
        <th>Contact</th>

        {% if campaign == "registration" %}
        <th>State</th>
        <th>Hometown</th>
        <th>Registered?</th>
        <th>Requested?</th>
        {% endif %}

        {% if not (campaign == "registration") %}
        <th>Support</th>
        {% endif %}

        <th>Voted?</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
    {% block lookup %} {% endblock %}
    </tbody>
</table>

{% endblock %}
